<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omar.alarma">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.omar.alarma.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.omar.alarma.addAlarm" />
        <activity android:name="com.omar.alarma.Access" />
        <activity android:name="com.omar.alarma.addTwitterUser" />
        <activity android:name="com.omar.alarma.Days" />

        <receiver android:name="com.omar.alarma.AlarmReceiver" />

        <service
            android:name="com.omar.alarma.RingTonePlayingService"
            android:enabled="true" />

        <activity android:name="com.omar.alarma.Options" />
        <activity android:name="com.omar.alarma.AddUbuUser" />
        <activity android:name="com.omar.alarma.AddWeatherUser" />
        <activity android:name="com.omar.alarma.AddMessageUser" />
        <activity android:name="com.omar.alarma.PruebasAlarma" />
        <activity android:name="com.omar.alarma.PruebasUsuario" />
        <activity android:name="com.omar.alarma.SelectSong" />
        <activity android:name="com.omar.alarma.Speech" />
        <activity android:name="com.omar.alarma.Temporizador" />
        <activity android:name="com.omar.alarma.HoraMundial" />
        <activity android:name="com.omar.alarma.Cronometro"></activity>
    </application>

</manifest>